<div class="container-fluid">
    <div class="main_images">
        <div class="hi">
            <h1 class="pt-4">Employee Management System</h1>
        </div>

    </div>
</div>
<!-- body -->
<!-- body 1 -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h4 class="text-center">STEP 1 : VENDOR ONBOARDING</h4>
            <h1 class="text-center">Automated vendor empanelment</h1>
            <h5 class="text-center">Eliminate all manual, paper based empanelment processes and switch to BlueTree CEMS’
                completely digitized contractor / <br>
                vendor empanelment module. BlueTree CEMS helps organizations boost vendor performance, manage vendor
                costs,<br>
                mitigate vendor risk, ease regulatory compliance - and ultimately save you time and money!
            </h5>
        </div>
    </div>
</div>
<!-- body 2-->
<div class="container-fluid">
    <div class="row pt 5">
        <div class="col-5 pt-10">
            <h1 class="text-center pt-10">Register your Vendors</h1>
            <h4 class="text-center pt-10">Add a new vendor to the organization through BlueTree CEMS. Just enter basic
                details of the vendor to create vendor credentials. Once the vendor credentials are created,
                it can be shared with the vendor organization for them to enter complete empanelment details.
                future changes on that document. Based on review comments, the documents can either be approved or
                rejected.
            </h4>
        </div>
        <div class="col-7">
            <div class="bd_images">
            </div>
        </div>
    </div>
</div>

<!-- body 3 -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Review and Approve Documents</h1>
            <h5 class="text-center">Vendor Management module includes powerful features to help automate
                and monitor the documents uploaded by the <br> vendor. The vendor enters empanelment details on
                BlueTree CEMS through a dedicated login created for his organization.<br> The documents are then sent
                for approval.
                Reviewer will receive that information as a notification, and be subscribed to<br>
                future changes on that document. Based on review comments, the documents can either be approved or
                rejected.
            </h5>
        </div>
    </div>
</div>

<!-- body 4-->
<div class="container-fluid">
    <div class="row pt 5">
        <div class="col-5 pt-10">
            <h1 class="text-center pt-10">Get Alerts and Notifications</h1>
            <h4 class="text-center">Send automatic notifications to the vendor to complete empanelment process.
             Once the vendor completes uploading the documents, administration team gets
              e-mail notification to verify the uploaded documents. Automated alerts are
               also sent to the vendor in case of any compliance issues.
            </h4>
        </div>
        <div class="col-7">
            <div class="mo_images">
            </div>
        </div>
    </div>
</div>
<!-- footer-area -->
<div class="container-fluid">
    <div class="row " style="background-color: rgb(187, 196, 206);">
        <div class="col-4">
            <h1>Products</h1>
        </div>
        <div class="col-4">
            <h1>Contact Us</h1>
        </div>
        <div class="col-4">
            <h1>Reaching Us !</h1><br>

            <h3>You can reach us through various ways, either through the following contacts or through social media
                below.</h3>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row fixed-bottom" style="background-color: rgb(110, 170, 226);">
        <div class="col-4">

        </div>
        <div class="col-4">
            <p class="text-xs-center">© RomanaEmployee2020. All rights reserved.</p>
        </div>
        <div class="col-4">

        </div>

    </div>
</div>
<!-- <footer>
    <p class="text-xs-center">© Copyright 2019. All rights reserved.</p>
</footer> -->