<!-- <div class="container-fluid">
  <div class="row">
      <div class="col-6">
          <h3>Add Employee</h3>
          <form #myForm="ngForm">
              Date : <input class="input-group" type="datetime-local"><br>
              Name :<input class="input-group" type="text" name="" id=""> <br>
              Father's Name :<input class="input-group" type="text" name="" id=""> <br>
              Mother's Name :<input class="input-group" type="text" name="" id=""> <br>
              Gender: <input class="ml-5 inline" type="radio"> Male
              <input type="radio" class="inline"> Female <br />
              D/O/B : <input class="input-group" type="date"><br>
              Email : <input class="input-group" type="text" name="" id=""><br>
              Contact: <input class="input-group" type="text" name="" id=""><br>
              Designation: <input class="input-group" type="text" name="" id=""><br>
              Department: <input class="input-group" type="text" name="" id=""><br>
              Educational Qualification: <input class="input-group" type="text" name="" id=""><br>
              Address: <input class="input-group" type="text" name="" id=""><br>
              <input type="submit">
          </form>
      </div>
      <div class="col-6">
          
      </div>
  </div>
</div> -->