/* .container-fluid{
    background-color:lightcoral;
}
.col-9{
    background-color: lightgreen;
} */
/* .alo{
    background-color: lightgreen; 
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
} */